@media only screen and (max-width: 600px) {
#img-discord {
width: 100%;
}
.grid-container {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 10px;
}
.container {
overflow-x: auto;
}
#floatingElement2 {
display: none;
}
#floatingElement {
left: 0;
right: 0;
max-width: 90%;
margin: 0 auto;
}
.text-line {
overflow-x: auto;
}
.swal2-html-container {
max-width: 100%;
overflow-x: auto;
white-space: nowrap;
padding: 10px;
}
}